  <div class="text-center">
    <img src="../assets/icons/logo.png" alt="Company Logo" class="img-fluid rounded-circle border border-3 border-primary-custom p-1" style="width: 120px; height: 120px;">
  </div>
  <hr>
      <h1 class="mb-1">{{ company.organizationName }}</h1>
      <h5 class="text-secondary fst-italic">{{ company.industryType }}</h5>
      <h6 class="mb-1"><i class="bi bi-briefcase-fill me-2" style="color: #16423c;"></i><strong>ID:</strong> {{ company.organizationId }}</h6>
      <br>
      <div class="d-flex">
        <h6 class="mb-1 me-4">
          <i class="bi bi-globe-americas me-2" style="color: #16423c;"></i>
          <strong>Country:</strong> {{ company.country }}
        </h6>
        <h6 class="mb-2">
          <i class="bi bi-mailbox me-2" style="color: #16423c;"></i>
          <strong>Pincode:</strong> {{ company.postalCode }}
        </h6>
      </div>
      <p class="mb-2"><i class="bi bi-geo-alt-fill me-2"></i>{{ company.address }}</p>
      <p class="mb-1"><i class="bi bi-envelope-fill me-2" style="color: #16423c;"></i><strong>Email:</strong> {{ company.email }}</p>
      <p class="mb-1"><i class="bi bi-telephone-fill me-2" style="color: #16423c;"></i><strong>Phone:</strong> {{ company.contactNo }}</p>
      <br>
      <div class="d-flex justify-content-between">
        <button class="btn" style="background-color: #16423c; color: white;" (click)="updatePassword()">
          <i class="bi bi-key-fill me-1 fs-5"></i> Update Profile
        </button>
        <button class="btn" style="background-color: rgb(253, 64, 64); color: white;" (click)="logout()">
          <i class="bi bi-box-arrow-right me-1 fs-5"></i> Logout
        </button>
      </div>

  